<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script src="/js/main.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{errorMessage}}</h1>
        </div>
        
        {{>footer}}
    </body>
</html>